@font-face {
    font-family: Rabbit; /* имя шрифта для CSS правил */
    src: local("Rabbit"), /* проверяем наличие шрифта в ОС пользователя */
         url('fonts/Rabbit.ttf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
  
@font-face {
font-family: TextFont; /* имя шрифта для CSS правил */
src: local("fut_rd"), /* проверяем наличие шрифта в ОС пользователя */
	 url('fonts/fut_rd.ttf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body {
    background-color:#0e477b;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;

-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: 'none;
-webkit-user-select: none;
user-select: none;

}

#heroCanvas, #scene {
    position: absolute;
}


a.button {

	position: inherit;

	display:block; /*Блок*/
	width:190px;
	height:20px;
	display:block;    /* Делаем ссылку блоком */
	background:url(imgs/pause.png) 0 0 no-repeat; /*подключаем изображения и no-repeat - не повторяться*/
	text-indent:-999em; /*убираем текстовую ссылку*/
}

a {
	display:block; /*Блок*/
	width:290px;
	height:50px;
	
	position: absolute; 
	left: 265px; 
}

a.button1 {
	background:url(imgs/hide_menu.png) 0 0 no-repeat; /*подключаем изображения и no-repeat - не повторяться*/
	background-size: 46px 46px;
	top: 190px;
	text-indent:-999em; /*убираем текстовую ссылку*/
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}
a.button2 {
	background:url(imgs/repeat.png) 0 0 no-repeat; /*подключаем изображения и no-repeat - не повторяться*/
	background-size: 46px 46px;
	top: 290px;
	text-indent:-999em; /*убираем текстовую ссылку*/
	
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}
a.button3 {
	background:url(imgs/to_menu.png) 0 0 no-repeat; /*подключаем изображения и no-repeat - не повторяться*/
	background-size: 46px 46px;
	top: 395px;
	text-indent:-999em; /*убираем текстовую ссылку*/
	
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}

.text_field[type="text"]{
	display: block;
	position: absolute;
	top: 187px;
	left: 390px;
	height: 23px;
	width: 200px;
	
	font-size: 18px;
	color: #fff;
	
	background-color: #026793;
	border:solid 1px #BFBDBD;
	box-shadow:
	inset #016590 0 0 4px 1px,
	#016590 0 0 20px 12px;
}

.text {
	font-size: 14px;
	font-family: Rabbit;
	text-decoration: none;
	text-align: center;
	position: absolute; 
	left: 269px;
	top: 16px;
	
	text-shadow: #ddd 1px 0 0px, #ddd 0 1px 0px, #ddd -1px 0 0px, #ddd 0 -1px 0px;
} 
.text {color: #01587d;}

h{
	font-size: 26px;
	font-family: TextFont;
	text-align: center;
	position: absolute;
	left: 330px;

	color: #01587d;

	text-shadow: #ccc 1px 0 0px, #ccc 0 1px 0px, #ccc -1px 0 0px, #ccc 0 -1px 0px;
}

.g_o {
    font-size: 48px;
    left: 274px;
    top: 80px;
}

.btn_text1 {
	top: 197px;
} 

.btn_text2 {
	top: 298px;
} 

.btn_text3 {
	top: 404px;
} 

.txt_name {
	top: 185px;
	left: 250px;
} 


#scene {
    background-image: url(imgs/background.jpg);
}