@font-face {
    font-family: Veronica; /* ��� ������ ��� CSS ������ */
    src: local("Veronica"), /* ��������� ������� ������ � �� ������������ */
         url('fonts/Veronica.ttf'); /* ���� ����� �� ����������, ����� ��������� ��� �� ���������� ���� */
  }
  
@font-face {
    font-family: Rabbit; /* ��� ������ ��� CSS ������ */
    src: local("Rabbit"), /* ��������� ������� ������ � �� ������������ */
         url('fonts/Rabbit.ttf'); /* ���� ����� �� ����������, ����� ��������� ��� �� ���������� ���� */
  }


body {
	background-image:url(imgs/menu_back.jpg);
	background-position:left 1px;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	
	-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: 'none;
-webkit-user-select: none;
user-select: none;
}

a {
	display:block; /*����*/
	width:28.75%;
	height:14.58333%;
	display:block;    /* ������ ������ ������ */
	position: absolute; 
	left: 36.5%; 
}

a.button {
	background:url(imgs/play.png) 0 0 no-repeat; /*���������� ����������� � no-repeat - �� �����������*/
	background-size: 100% 100%;
	top: 40.625%;
	text-indent:-999em; /*������� ��������� ������*/
	
	box-shadow:
	inset #0072a3 0 0 6px 1px,
	#0072a3 0 0 24px 15px;
}
a.button1 {
	background:url(imgs/rec.png) 0 0 no-repeat; /*���������� ����������� � no-repeat - �� �����������*/
	background-size: 100% 100%;
	top: 58.541%;
	text-indent:-999em; /*������� ��������� ������*/
	
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}

a.button3 {
	background:url(imgs/tutorial.png) 0 0 no-repeat; /*���������� ����������� � no-repeat - �� �����������*/
	background-size: 100% 100%;
	top: 75.541%;
	text-indent:-999em; /*������� ��������� ������*/
	
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}

#logo{
	width: 50%;
	
	position: absolute;
	left: 26%;
	top: 10%;
}

#result{
	width: 50%;
	
	position: absolute;
	left: 26%;
	top: 12%;
}

h.text1 {
	font-size: 100;
	line-height: 29,16666%;
	font-family: Veronica;
	font-weight: bolder;
	text-align: center;	
	position: absolute; 
	left: 16.875%;
	
	text-shadow: #0299da 5px 0 0px, #4fa1da 0 1px 0px, #0299da -5px 0 0px, #4fa1da 0 -1px 0px;
} 
.text1 {color: #00008B;}

h.text2 {
    font-size: 0;
	letter-spacing: 4 px;
	font-family: Rabbit;
	font-weight: bolder;
	text-align: center;
	position: absolute; 
	left: 45.625%;
	top: 26.75%;
	
	text-shadow: #ddd 1px 0 0px, #ddd 0 1px 0px, #ddd -1px 0 0px, #ddd 0 -1px 0px;
} 
.text2 {color: #0072a3;}

h.text3 {
	font-size: 0;
	font-family: Rabbit;
	font-weight: bolder;
	letter-spacing: 3 px;
	text-align: center;
	position: absolute; 
	left: 45.625%;
	top: 67.91%;
	
	text-shadow: #ddd 1px 0 0px, #ddd 0 1px 0px, #ddd -1px 0 0px, #ddd 0 -1px 0px;
} 
.text3 {color: #01587d;}

table {
  
  font-family: sans-serif;
  background: white;
  border-width: 0;
  border-color: white;
	
  
  width: 30%;
  height: 55%;
  margin: 15% auto 0;

}
td, th {
background-color:#016590;  
color:#fff;       
text-align: center; 
vertical-align: middle;
font:18pt 'Arial';   
}

a.button2 {
	display:block; /*����*/
	width:72px; /*������*/
	height:72px; /*������*/
	background:url(imgs/back.png) 0 0 no-repeat; /*���������� ����������� � no-repeat - �� �����������*/  
	background-size: 64px 64px;
	display:block;    /* ������ ������ ������ */
	position: absolute; 
	left: 5%; 
	top: 6%;
	text-indent:-999em; /*������� ��������� ������*/
}

a.button4 {
	display:block; /*����*/
	width:72px; /*������*/
	height:72px; /*������*/
	background:url(imgs/next.png) 0 0 no-repeat; /*���������� ����������� � no-repeat - �� �����������*/  
	background-size: 100% 100%;
	display:block;    /* ������ ������ ������ */
	position: absolute; 
	left: 85%; 
	top: 80%;
	text-indent:-9999em; /*������� ��������� ������*/
}

a.button5 {
	background:url(imgs/to_menu.png) 0 0 no-repeat; /*подключаем изображения и no-repeat - не повторяться*/
	background-size: 100% 100%;
	top: 40%;
	left: 33%;
	text-indent:-999em; /*убираем текстовую ссылку*/
	
	width:36%;
	height:10%;
	
	box-shadow:
	inset #016590 0 0 6px 1px,
	#016590 0 0 24px 15px;
}

h.text4 {
        font-size: 6.25%;
	line-height: 33.33333%;
	font-family: 'Arial', cursive;
	font-weight: bolder;
	text-align: center;
	
position: absolute; 
left: 35%;
} 

label {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
	
	top: 84.375%;
	left: 5%;
   }
   input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(imgs/sound.png) no-repeat;
    cursor: pointer;
   }
   input[type="checkbox"]:checked + span {
    background-position: 0 -48px; 
   }
   input[type="checkbox"] {
    display:none;
}

.text4 {color: #00008B;}

html { overflow:  hidden; }

img.tut_img{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0%;
	height: 100%;
}